{
  "username": "alessandroaraujo0098@gmail.com",
  "headers": {
    "Content-Type": "application/json",
    "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEyMjUsInRlYW1JZCI6MTQsImlzQXBpS2V5Ijp0cnVlLCJpYXQiOjE3NjY1MTE4MDR9.k2pvPXdQjHwGMsZ4NCL5x4iuWGdBGkr6_pzY-7aOpRE",
    "User-Agent": "Crave"
  },
  "projects": [],
  "server": "https://foss.crave.io/api"
}